# CAPM - Capital Asset Pricing Model

## Importando as libs e a base de dados

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
dataset = pd.read_csv('acoes.csv')
dataset.drop(labels= ['Date'], axis = 1, inplace= True)

dataset_normalizado = dataset.copy()
for i in dataset.columns:
    dataset_normalizado[i] = dataset[i] / dataset[i][0]
dataset_normalizado

           GOL       CVC        WEG      MGLU     TOTVS      IBOV
0     1.000000  1.000000   1.000000  1.000000  1.000000  1.000000
1     0.990660  0.986842   1.006818  1.018792  0.969274  0.980110
2     1.014676  0.973684   0.991883  1.005369  0.908659  0.985612
3     0.970647  0.965132   0.980519  1.038926  0.902234  1.018832
4     0.951968  0.930921   0.997078  1.030873  0.923184  1.026449
...        ...       ...        ...       ...       ...       ...
2477  0.114076  0.166598  10.686141  3.406098  3.073201  2.578714
2478  0.114076  0.158537  10.842494  3.284625  3.031844  2.560940
2479  0.112742  0.161224  10.910648  3.202023  3.067293  2.542742
2480  0.113409  0.174659  11.267454  3.532429  3.211057  2.622725
2481  0.113409  0.176450  11.032924  3.624749  3.353836  2.602624

[2482 rows x 6 columns]

In [ ]:
dataset_taxa_retorno = (dataset_normalizado / dataset_normalizado.shift(1)) -1
dataset_taxa_retorno